.photo {
	padding: 20px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
}

.container {
	font-family: 'Karla', sans-serif;
	background-color: white;
	font-size: 120%;
	color: #0A093B;
}
.cv-block {
	border-bottom-style: dashed;
	border-bottom-width: 3px;
	border-left-style: solid;
	border-left-width : 30px;
}
.flag > img {
  padding: 10px;
}
.flag > p {
  text-align: center;
}
.id {
	border-color : #88A4D4;
	background-color: white;
	line-height: 150%;

}
.id h1 {
	font-weight: 800;
}
.job-title {
	border-color : #A0B8E2;
	background-color: #CFDDF5;

}
h2 {
	font-weight: bold;
}

h3 {
	font-weight: bold;
}
h5 {
	font-weight: 600;
}
.exp1 {
	border-color : #88A4D4;

}
.exp2 {
	border-color : #A0B8E2;
}
.exp3 {
	border-color : #88A4D4;
}

.formation {
	padding-bottom :15px;
}

.formation  h4 {
	font-weight: bold;
	padding-top :0px;
	padding-bottom :0px;
	margin-bottom : 0px;
}
.formation p {
	padding-top :0px;
	margin-top : 0px;
	padding-bottom :0px;
	margin-bottom : 0px;
}
.etude {
	border-left-color : #88A4D4;
	border-left-style : solid;
	border-left-width : 30px;
	
	border-bottom-style: dashed;
	border-bottom-width: 3px;
}

.interet {
	border-left-color : #A0B8E2;
	border-left-style : solid;
	border-left-width : 30px;
}

.cloud {
	height : inherit;
	border-left-style: solid;
	border-left-width : 30px;
	border-left-color : #A0B8E2;
	
}
.etude-interet {
	border-bottom-style: dashed;
	border-bottom-width: 3px;
}

@media print
{   
	body:after { content: "           Online CV - https://padewitte.github.io/cv/"; }
	.no-print, .no-print *
	{
		display: none !important;
	}
	.container {
		font-size : 110%;
	}
}